body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
section.login{
  background-color:#fbf6f0;
}
section.login .is-vcentered{
  height:100vh;
}
.mb-4{
  margin-bottom: 1rem;
}
.my-4{
  margin-bottom: 1rem;
  margin-top: 1rem;
}
section.dashboard{
  padding-top: 2rem;
  min-height: 700px;
  background-color: #fbf6f0;
}
section.dashboard .card{
  min-height: 450px;
}
section.dashboard .card.form{
  min-height: 0px;
}
.my-spinner-c, .position-relative{
  position:relative;
}
.my-spinner:after {
  position: absolute;
  left: calc(50% - .5em);
  top: calc(50% - .5em);
  position: absolute!important;
}
.my-spinner:after {
  animation: spinAround .5s linear infinite;
  border-radius: 290486px;
  border-color: transparent transparent #dbdbdb #dbdbdb;
  border-style: solid;
  border-width: 2px;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}
.table-actions button{
  margin:0px 5px;
}
.loading-screen{
  background:rgba(0,0,0,0.5);
  width:100%;
  min-height:450px;
  position:absolute;
  z-index:9999;
}
div.select, div.select select{
  width:100%;
}
.navbar-item[disabled], .navbar-item[disabled=true]{
  pointer-events: none;
  cursor:not-allowed;
  color:#777;
}
.ml-2{
  margin-left: 0.5em;
}
.notification-fixed{
  position:fixed!important;
  z-index: 999;
  top:60px;
  right:0;
  left:0;
  margin:auto;
  width:300px;
  font-size:14px;
  transition: opacity .45s ease-in-out!important;
  opacity:0;
}
.notification-fixed.active{
  opacity:1;
}